@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --background: oklch(0.9645 0.0261 90.1);
  --foreground: oklch(0.3079 0.0207 66.927);
  --card: oklch(0.9851 0.0102 67.71);
  --card-foreground: oklch(0.3079 0.0207 66.927);
  --popover: oklch(0.9851 0.0102 67.71);
  --popover-foreground: oklch(0.3079 0.0207 66.927);
  --primary: oklch(0.628 0.1442 55.3272);
  --primary-foreground: oklch(0.9854 0.0022 67.7975);
  --secondary: oklch(0.7745 0.0154 84.5893);
  --secondary-foreground: oklch(0.3079 0.0207 66.927);
  --muted: oklch(0.9117 0.0083 76.609);
  --muted-foreground: oklch(0.5167 0.0204 67.3513);
  --accent: oklch(0.8513 0.01 84.5783);
  --accent-foreground: oklch(0.3079 0.0207 66.927);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.8518 0.0141 76.5687);
  --input: oklch(0.9117 0.0083 76.609);
  --ring: oklch(0.628 0.1442 55.3272);
  --chart-1: oklch(0.628 0.1442 55.3272);
  --chart-2: oklch(0.6448 0.1609 38.6128);
  --chart-3: oklch(0.5841 0.0891 124.2176);
  --chart-4: oklch(0.6304 0.1101 263.3315);
  --chart-5: oklch(0.8278 0.1437 90.1142);
  --sidebar: oklch(0.38 0.0273 66.8489);
  --sidebar-foreground: oklch(0.9854 0.0022 67.7975);
  --sidebar-primary: oklch(0.8544 0.0724 84.3464);
  --sidebar-primary-foreground: oklch(0.2198 0.0126 67.0936);
  --sidebar-accent: oklch(0.5721 0.0346 76.194);
  --sidebar-accent-foreground: oklch(0.9854 0.0022 67.7975);
  --sidebar-border: oklch(0.474 0.0272 67.0896);
  --sidebar-ring: oklch(0.8544 0.0724 84.3464);
  --font-sans: 'Merriweather', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'Source Code Pro', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 1.5rem;
  --shadow-spread: -0.25rem;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(30 20% 10%);
  --shadow-2xs: 0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 10% / 0.04);
  --shadow-xs: 0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 10% / 0.04);
  --shadow-sm:
    0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 10% / 0.08), 0rem 1px 2px -1.25px hsl(30 20% 10% / 0.08);
  --shadow:
    0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 10% / 0.08), 0rem 1px 2px -1.25px hsl(30 20% 10% / 0.08);
  --shadow-md:
    0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 10% / 0.08), 0rem 2px 4px -1.25px hsl(30 20% 10% / 0.08);
  --shadow-lg:
    0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 10% / 0.08), 0rem 4px 6px -1.25px hsl(30 20% 10% / 0.08);
  --shadow-xl:
    0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 10% / 0.08), 0rem 8px 10px -1.25px hsl(30 20% 10% / 0.08);
  --shadow-2xl: 0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 10% / 0.2);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2198 0.0126 67.0936);
  --foreground: oklch(0.9266 0.011 67.69);
  --card: oklch(0.2757 0.0178 66.9755);
  --card-foreground: oklch(0.9266 0.011 67.69);
  --popover: oklch(0.2757 0.0178 66.9755);
  --popover-foreground: oklch(0.9266 0.011 67.69);
  --primary: oklch(0.7065 0.145 57.7901);
  --primary-foreground: oklch(0.2198 0.0126 67.0936);
  --secondary: oklch(0.5244 0.0224 84.5798);
  --secondary-foreground: oklch(0.9266 0.011 67.69);
  --muted: oklch(0.3267 0.0171 67.168);
  --muted-foreground: oklch(0.6888 0.019 67.5046);
  --accent: oklch(0.4295 0.0177 84.5826);
  --accent-foreground: oklch(0.9266 0.011 67.69);
  --destructive: oklch(0.6295 0.1785 23.7701);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.3774 0.0206 67.1336);
  --input: oklch(0.3267 0.0171 67.168);
  --ring: oklch(0.7065 0.145 57.7901);
  --chart-1: oklch(0.7065 0.145 57.7901);
  --chart-2: oklch(0.7151 0.1236 39.1432);
  --chart-3: oklch(0.687 0.1067 124.2792);
  --chart-4: oklch(0.7239 0.08 263.879);
  --chart-5: oklch(0.8679 0.1168 91.4193);
  --sidebar: oklch(0.9854 0.0022 67.7975);
  --sidebar-foreground: oklch(0.2198 0.0126 67.0936);
  --sidebar-primary: oklch(0.628 0.1442 55.3272);
  --sidebar-primary-foreground: oklch(0.9854 0.0022 67.7975);
  --sidebar-accent: oklch(0.7745 0.0154 84.5893);
  --sidebar-accent-foreground: oklch(0.2198 0.0126 67.0936);
  --sidebar-border: oklch(0.8518 0.0141 76.5687);
  --sidebar-ring: oklch(0.628 0.1442 55.3272);
  --font-sans: 'Merriweather Sans', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 1.5rem;
  --shadow-spread: -0.25rem;
  --shadow-opacity: 0.3;
  --shadow-color: hsl(30 20% 0%);
  --shadow-2xs: 0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 0% / 0.15);
  --shadow-xs: 0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 0% / 0.15);
  --shadow-sm:
    0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 0% / 0.3), 0rem 1px 2px -1.25px hsl(30 20% 0% / 0.3);
  --shadow:
    0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 0% / 0.3), 0rem 1px 2px -1.25px hsl(30 20% 0% / 0.3);
  --shadow-md:
    0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 0% / 0.3), 0rem 2px 4px -1.25px hsl(30 20% 0% / 0.3);
  --shadow-lg:
    0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 0% / 0.3), 0rem 4px 6px -1.25px hsl(30 20% 0% / 0.3);
  --shadow-xl:
    0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 0% / 0.3), 0rem 8px 10px -1.25px hsl(30 20% 0% / 0.3);
  --shadow-2xl: 0rem 0.5rem 1.5rem -0.25rem hsl(30 20% 0% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
